<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecjtu.hht.booksmate.ms_psn.mapper.DynCommentMapper">

    <resultMap id="allType" type="com.ecjtu.hht.booksmate.ms_psn.entity.DynComment">
        <id column="id" property="id"></id>
        <id column="dynId" property="dynId"></id>
        <id column="content" property="content"></id>
        <id column="create_Date" property="createDate"></id>
        <id column="awardCount" property="awardCount"></id>
        <association  property="person" javaType="com.ecjtu.hht.booksmate.common.entity.person.Person" column="psnId" select="com.ecjtu.hht.booksmate.person.mapper.PersonMapper.selectById">
            <id column="id" property="id"></id>
            <id column="psn_name" property="psnName"></id>
            <id column="avatar" property="avatar"></id>
            <id column="department" property="department"></id>
        </association >
    </resultMap>

    <select id="getDynAllCommentByDynId" resultMap="allType">
        select * from dyn_comment where dynId=#{dynId} order by create_date desc;
    </select>
</mapper>
